@import "./base.css";
@import "./navbar.css";
@import "./hero.css";
@import "./sections.css";
@import "./contact.css";
@import "./footer.css";
@import "./languageToggle.css";
@import "./over-ons-style.css";
@import "./proces-style.css";
@import "./onze-diensten-style.css";


/* html, body {
  height: 100%;
}

.sq-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sq-root > main {
  flex: 1;
} */