@import "../styles/index.css";
@import "../styles/navbar.css";
@import "../styles/sections.css";
@import "../styles/contact.css";
@import "../styles/footer.css";
@import "../styles/hero.css";
@import "../styles/languageToggle.css";